<header>
    <div class="header_wrapper">
        <div class="go_home">
            <a href="/index.html"><i class="fa fa-arrow-left "></i></a>
        </div>
        <div class="post_title">
            <h1><%- title %></h1>
        </div>
        <div class="about_me">
            <a href="/articles/about.html"><i class="fa fa-user"></i></a>
        </div>
    </div>
</header>
