<header>
    <div class="header_wrapper">
        <div class="go_home">
            <a href="/index.html"><i class="fa fa-bars"></i></a>
        </div>
        <div class="post_title">
            <h1><%- title %></h1>
        </div>
    </div>
</header>
