<div class="garden">
    <h1>John's Garden</h1>
    <h2>Garden Box 1</h2>
    <div class="box size">Size: 4 x 8</div>
    <div class="box sun">Sun: Full Sun</div>
    <div class="box description">Description: Farthest North box. Shallower than the others.</div>
    <div class="garden_box_container">
        <table>
            <tr>
                <td>
                    <div class="vegetable">
                    <a href="http://www.burpee.com/vegetables/peas/snow-sugar/pea-oregon-sugar-pod-ii-prod000788.html">Oregon Sugar Pod II</a>
                    </div>
                    <div class="date plant">
                    Feb 20
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/bloomsdale-long-standing-spinach">Bloomsdale Long Standing Spinach</a>
                    </div>
                    <div class="date plant">
                    Feb 20
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/arugula">Arugula</a>
                    </div>
                    <div class="date plant">
                    Feb 20
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <h2>Garden Box 2</h2>
    <div class="box size">Size: 4 x 8</div>
    <div class="box sun">Sun: Full Sun.</div>
    <div class="box description">Description: Middle box. A fun sun box.</div>
    <div class="garden_box_container">
        <table class="four">
            <tr>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/cantare-bean/">Beans Cantare</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                </td>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/purple-hull-pinkeye-cowpea">Cowpea Purple Hull Pinkeye</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                </td>
                <td colspan="2">
                    <div class="vegetable">
                    <a href="http://www.territorialseed.com/product/Jade_II_Bean_Seed">Beans (Jade II)</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="vegetable">
                    <a href="http://www.seedsofchange.com/quickfacts.aspx?c=9828&cat=147#ad-image-ProductDetail1_aFirstImage">Eggplant</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                    <div class="date seed">
                    March 15
                    </div>
                </td>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/cosmic-purple-carrot">Carrot Cosmic Purple</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                </td>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/parisienne-carrot">Carrot Parisienne</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                </td>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/early-scarlet-globe-radi">Raddish (Early Scalet Globe)</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                </td>
            </tr>

        </table>
    </div>
    <h2>Garden Box 3</h2>
    <div class="box size">Size: 3.5 x 5</div>
    <div class="box sun">Sun: 3/4 Sun</div>
    <div class="box description">Description: Farthest South box. Not as much sun as the other two.</div>
    <div class="garden_box_container">
        <table class="three">
            <tr>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/collards-georgia-southern-creole">Collards Georgia Southern Creole</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                    <div class="date seed">
                    March 15
                    </div>
                </td>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/russian-red-or-ragged-jack-k">Russian Red Kale</a> / <a href="http://www.rareseeds.com/bloomsdale-long-standing-spinach">Bloomsdale Long Standing Spinach</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                    <div class="date seed">
                    March 15
                    </div>
                </td>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/long-green-or-london-long-cucumber">Cucumber (Long Green)</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                    <div class="date seed">
                    March 15
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/australian-brown-onion">Onion Australian Brown</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                    <div class="date seed">
                    March 15
                    </div>
                </td>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/red-romaine-lettuce">Lettuce Red Romain</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                </td>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/long-green-or-london-long-cucumber">Cucumber (Long Green)</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                    <div class="date seed">
                    March 15
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <h2>Garden Box 4</h2>
    <div class="box size">Size: 4 x 8</div>
    <div class="box sun">Sun: 3/4 shade.</div>
    <div class="box description">Description: A shady experimental box</div>
    <div class="garden_box_container">
        <table class="four">
            <tr>
                <td colspan="4">
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/calabrese-green-sprouting-broccoli">Broccoli (Calabrese Green Sprouting)</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                    <div class="date seed">
                    Feb 20
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/green-macerata-cauliflower">Green Macerata Cauliflower</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                    <div class="date seed">
                    Feb 20
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/japanese-giant-red-mustard-greens">Japanese Giant Red Mustard Greens</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                </td>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/red-romaine-lettuce">Lettuce Red Romain</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                </td>
                <td>
                    <div class="vegetable">
                    <a href="http://www.rareseeds.com/russian-red-or-ragged-jack-k">Russian Red Kale</a>
                    </div>
                    <div class="date plant">
                    April 21
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
