<div class="crushing">
    <% for (var slug in public.articles._data) { %>
    <% var article = public.articles._data[slug] %>
    <div class="the_gnar">
        <a href="articles/<%= slug %>" class="doom <%= article.image %>">
            <div class="pow_pow">
                <div class="stoked">
                    <h2><%= article.title %></h2>
                    <div class="description"><%= article.description %></div>
                    <i class="fa fa-paw fa-3x"></i>
                </div>
            </div>
        </a>
    </div>
    <% } %>
</div>
