<header>
    <div class="header_wrapper">
        <div>
            <!-- <a href="/index.html"><i class="fa fa-bars"></i></a> -->
        </div>
        <div class="post_title">
            <h1>John Skelton</h1>
        </div>
        <div class="about_me">
            <a href="/articles/about.html"><i class="fa fa-user"></i></a>
        </div>
    </div>
</header>
<div class="post">
    <div class="crushing">
        <% for (var slug in public.articles._data) { %>
        <% var article = public.articles._data[slug] %>
        <div class="the_gnar">
            <a href="articles/<%= slug %>" class="doom">
                <div class="pow_pow <%= article.image %>"></div>
                <div class="stoked">
                    <h2><%= article.title %></h2>
                    <div class="description"><%= article.description %></div>
                </div>
            </a>
        </div>
        <% } %>
    </div>
</div>
