@import "_normalize.less";
@import "_variables.less";
@import "_animations.less";

html {
    font-family: @font-family-header;
    background: @color-background;
    color: @color-text;
    line-height: @line-height-base;
    font-variant: normal;
    font-feature-settings: "onum" 1, "pnum" 1, "kern" false, "liga" 1;
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 1.25em;
    background: @color-background;
}

article {
    margin: 0 auto;
    // padding: 0em 1.25em 5em 1.25em;
    // max-width: 35em;
}
header, h1, h2, h3, h4, h5 {
    font-family: @font-family-header;
    line-height: 1.05;
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    color: @black;
    background-color: @white;
    z-index: 1;

    .header_wrapper {
        position: relative;

        .go_home, .about_me {
            position: absolute;
            top: 0;
            z-index: 2;

            a {
                display: block;
                font-size: 125%;
                color: @black;
                padding: 20px;
                line-height: 0;
            }
        }
        .go_home {
            left: 0;
        }
        .about_me {
            right: 0;
        }
        .post_title {
            position: relative;
            text-align: center;


            h1 {
                font-size: 2em;
                font-weight: 600;
                line-height: 1.6;

                .responsive(@screen-small, {
                    font-size: 1.33em;
                    font-weight: 600;
                    line-height: 2.4;
                });
            }
        }
    }
}

.post {
    position: relative;
    margin-top: 64px;
}
.heroes_get_remembered {
    margin: 0 auto 54px auto;
    position: relative;

    .responsive(@screen-small, {
        margin: 0 auto 34px auto;
    });

    .heroes_background {
        display: block;
        width: 100%;
        cursor: default;

        .heroes_background_image {
            background-size: cover;
            background-position: center;
            height: 360px;

            &.tall_image {
                height: 600px;

                .responsive(@screen-small, {
                    height: 360px;
                });
            }
            &.about {
                height: 380px;
            }
            &.detroit {
                .responsive(@screen-small, {
                    height: 211px;
                });
            }
            &.skedco {
                background-size: contain;
                background-repeat: no-repeat;
                background-color: #121212;
                height: 430px;

                .responsive(@screen-small, {
                    height: 259px;
                });
            }
        }
    }

    .heroes_welcome {

    }
}
.legends_never_die {
    margin: 0 auto;
    padding: 0em 1.25em 5em 1.25em;
    max-width: 35em;
}
h2 {
    font-size: 1.66em;
    font-weight: 600;
    line-height: 1.55;

    & + p {
        font-size: .73em;
        font-family: @font-family-base;
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding-top: 20px;
        padding-bottom: 20px;
        /* text-transform: uppercase; */

        .responsive(@screen-small, {
            font-size: 0.93em;
            });
    }

    .responsive(@screen-medium, {
        font-size: 1.66em;
    });
    .responsive(@screen-small, {
        font-size: 1.33em;
        line-height: 1.33;
    });
}
p {
    &.caption {
        font-size: 0.73em;
        background-color: whitesmoke;
        padding: 18px;
        text-align: center;
    }
}
.ftl-video {
    width: 640px;
    height: 512px;
    .responsive(@screen-medium, {
        width: 300px;
        height: 240px;
    });
    .responsive(@screen-small, {
        width: 300px;
        height: 240px;
    });
    }
.social-icons {
    a.icon {
        display: inline-block;
        border: 2px solid;
        border-radius: 50%;
        padding: 5px 10px 6px 10px;
        color: @color-text;
        width: 22px;
        text-align: center;
        
        &.behance {

        }
        &.envelope {

        }
        &.linkedin {

        }
        &.twitter {

        }
        &:hover, &:focus {
            color: @white;
            background-color: @color-text;
            border: 2px solid black;
        }
    }    
}
.crushing {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
    }

.the_gnar{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    color: @white;
    background-color: @color-background;
    -webkit-animation: pop 0.5s; /* Safari 4+ */
        -moz-animation: pop 0.5s; /* Fx 5+ */
             -o-animation: pop 0.5s; /* Opera 12+ */
                   animation: pop 0.5s; /* IE 10+ */
}

a.doom {
    display: block;
    padding: 0;
    text-decoration: none;
    margin: 10px;

    .pow_pow {
        // position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;

        .responsive(@screen-small, {
            height: 280px;
        });
    }
    .stoked {
        display: block;
        padding:  4%;
        color: @black;
        background-color: @white;

        h2 {
            font-weight: 600;
            font-size: 0.93em;
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis; 
        }

        .description {
            font-family: @font-family-base;
            font-size: 0.73em;
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis; 
        }

        i {
            position: absolute;
            bottom: 18px;
            left: 50%;
            margin-left: -32px;
        }
    }
}

.the_gnar{
        width: 100%;
    }

@media (min-width: 600px) {
    .the_gnar{
        width: 33.333%;
        }
    }

.buddyup {
    background-image: url('images/buddyup/all_phones.jpg');
}
.yeti {
    background-image: url('images/yeti/yeti-pattern.png');
}
.block-and-sons {
    background-image: url('images/bandsco/block-and-sons-cover.jpg');
}
.detroit {
    background-image: url('images/dd/demand-performance.jpg');
}
.freightliner {
    background-image: url('images/ftl/70-years-of-innovation.jpg');
}
.bpd {
    background-image: url('images/bpd/bpd_product_ipad.jpg');
}
.seed {
    background-image: url('images/seed/map.jpg');
}
.skedco {
    background-image: url('images/skedco/skedco-home.jpg');
}
.about {
    background-image: url('images/about/john-skelton.jpg');
}

img {
    display: block;
}
